<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>744864516049-0f7mctukucsfvd2gtdb2sd2tpi2ntebf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.744864516049-0f7mctukucsfvd2gtdb2sd2tpi2ntebf</string>
	<key>API_KEY</key>
	<string>AIzaSyD4mRHnsFYK9Ur2QHVKKKWEXjaoL30BH1M</string>
	<key>GCM_SENDER_ID</key>
	<string>744864516049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.makeHay</string>
	<key>PROJECT_ID</key>
	<string>make-hay-35205</string>
	<key>STORAGE_BUCKET</key>
	<string>make-hay-35205.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744864516049:ios:a30cfdf8433d2960bd02f0</string>
	<key>DATABASE_URL</key>
	<string>https://make-hay-35205-default-rtdb.firebaseio.com</string>
</dict>
</plist>